<div class="progress-wrapper">
  <div id="progress-bar-container">
    <ul>
      <li class="step step01 " (click)="setActiveStep(step)" [ngClass]="{'active': step.stepName == activeStep.stepName} " *ngFor="let step of stepsList" >
        <div class="step-inner">{{ step.stepName }}</div>
      </li>

    </ul>
    <div id="line">
      <div id="line-progress" [style.width.%]="this.activeStep.progression"></div>
    </div>
    <!-- progress-bar-container -->
    <div id="progress-content-section">
      <!-- STEP 1 -->
      <div class="section-content step1" [ngClass]="{'active': activeStep.stepName == 'Basic Details'} ">
        <div class="container-fluid">
          <div class="row">
            <div class=" col-md-4 p-3">
                <label class="form-label" >Name :</label>
                <input type="text" [(ngModel)]="employee.empName" placeholder="Enter Name"  class="form-control p-2">
            </div>
            <div class=" col-md-4 p-3">
              <label class="form-label" >Email :</label>
                <input type="text" [(ngModel)]="employee.empEmailId" [(ngModel)]="employee.userName" placeholder="Enter Email" class="form-control p-2">
            </div>
            <div class=" col-md-4 p-3">
              <label class="form-label" >Password :</label>
                <input type="password" placeholder="Enter Password" [(ngModel)]="employee.password" class="form-control p-2">
            </div>
          </div>
          <div class="row">
              <div class=" p-3 col-md-4">
                <label class="form-label" >Designation :</label>
                <select class="form-select p-2" [(ngModel)]="employee.empDesignationId">
                  <option *ngFor="let designation of designationList" [value]="designation.designationId">{{ designation.designation }}</option>
                </select>
              </div>
              <div class=" p-3 col-md-4">
                <label class="form-label" >Roles :</label>
                <select class="form-select p-2" [(ngModel)]="employee.roleId">
                  <option *ngFor="let role of roleList" [value]="role.roleId">{{ role.role }}</option>
                </select>
              </div>
              <div class=" p-3 col-md-4">
                <label class="form-label" >Contact No :</label>
                  <input type="text" [(ngModel)]="employee.empContactNo" placeholder="Enter Contact No" class="form-control p-2">
              </div>
          </div>
          <div class="row">
              <div class=" p-3 col-md-6">
                <label class="form-label" >Alternate Contact No :</label>
                  <input type="text" [(ngModel)]="employee.empAltContactNo" placeholder="Alternate Contact No." class="form-control p-2">
              </div>
              <div class=" p-3 col-md-6">
                <label class="form-label" >Personal Email ID :</label>
                  <input type="text" [(ngModel)]="employee.empPersonalEmailId" placeholder="Enter Personal EmailID" class="form-control p-2">
              </div>
          </div>
          <div class="row">
              <div class=" p-3 col-md-6">
                <label class="form-label" >Total Years of Experience :</label>
                  <input type="text" [(ngModel)]="employee.empExpTotalYear" placeholder="Enter total Years of Experience" class="form-control p-2">
              </div>
              <div class=" p-3 col-md-6">
                <label class="form-label" >Total Month of Experience :</label>
                  <input type="text" [(ngModel)]="employee.empExpTotalMonth" placeholder="Enter month of Experience" class="form-control p-2">
              </div>
          </div>
          <div class="row">
              <div class=" p-3 col-md-6">
                <label class="form-label" >City :</label>
                  <input type="text" [(ngModel)]="employee.empCity" placeholder="Enter City" class="form-control p-2">
              </div>
              <div class=" p-3 col-md-6">
                <label class="form-label" >State :</label>
                  <input type="text" [(ngModel)]="employee.empState" placeholder="Enter State" class="form-control p-2">
              </div>
          </div>
          <div class="row">
              <div class=" p-3 col-md-12">
                <label class="form-label" >Address :</label>
                  <textarea placeholder="Enter Address" class="form-control p-2" ></textarea>
              </div>
          </div>
          <div class="row">
              <div class=" p-3 col-md-6">
                <label class="form-label" >Pincode :</label>
                  <input type="text" [(ngModel)]="employee.empAddress" placeholder="Enter Pincode" class="form-control p-2">
              </div>
              <div class=" p-3 col-md-6">
              <label class="form-label" >Personal City :</label>
                  <input type="text" [(ngModel)]="employee.empPerCity" placeholder="Enter Personal City" class="form-control p-2">
              </div>

          </div>
          <div class="row">

              <div class=" p-3 col-md-6">
                <label class="form-label" >Personal State :</label>
                  <input type="text" [(ngModel)]="employee.empPerState" placeholder="Enter Personal State" class="form-control p-2">
              </div>
              <div class=" p-3 col-md-6">
                <label class="form-label" >Personal Pin Code :</label>
                  <input type="text" [(ngModel)]="employee.empPinCode" placeholder="Enter Personal Pin Code" class="form-control p-2">
              </div>

          </div>
          <div class="row">
              <div class="col-md-12">
                <label class="form-label" >Personal Address :</label>
                  <textarea placeholder="Enter Personal Address" class="form-control p-2"></textarea>
              </div>
          </div>
          <div class="row justify-content-end my-3">
            <button class="btn btn-primary col-2" (click)="gotoNexStep()" >Next</button>
          </div>
        </div>
      </div>
      <!-- STEP 2 -->
      <div class="section-content step2" [ngClass]="{'active': activeStep.stepName == 'Skill'} ">
        <div class="container-fluid">

          <div class="row justify-content-between p-3">
            <h5 class="col-6 text-start" >Skills</h5>
            <button class="btn btn-sm btn-info col-2" (click)="addSkills()">Add</button>
          </div>
          <div id="table-container">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Skill Name</th>
                          <th>Total Experience</th>
                          <th>Last Version</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let sikill of employee.erpEmployeeSkills" >
                          <td >
                              <input type="text" [(ngModel)]="sikill.skill" placeholder="Skill" class="form-control p-2">
                          </td>
                          <td>
                              <input type="text" [(ngModel)]="sikill.totalYearExp" placeholder="Total Experience" class="form-control p-2">
                          </td>
                          <td>
                              <input type="text" [(ngModel)]="sikill.lastVersionUsed" placeholder="Last Version" class="form-control p-2">

                          </td>

                          <td class="btn-container">
                              <button class="btn btn-sm btn-success me-1 py-1 px-3"><i class="fa fa-save"></i></button>

                              <button class="btn btn-sm btn-danger py-1 px-3"><i class="fa fa-trash"></i></button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="row justify-content-end my-3">
            <button class="btn btn-primary col-2" (click)="gotoNexStep()" >Next</button>
          </div>
        </div>
      </div>
      <!-- STEP 3 -->
      <div class="section-content step3" [ngClass]="{'active': activeStep.stepName == 'Experiences'} ">
        <div class="container-fluid">
          <div class="row justify-content-between p-3">
            <h5 class="col-6 text-start" >Experiences</h5>
            <button class="btn btn-sm btn-info col-2" (click)="addExperience()">Add</button>
          </div>
          <div id="table-container">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Company</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Designation</th>
                          <th>Project</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let experience of employee.ermEmpExperiences">
                          <td>
                              <input type="text" [(ngModel)]="experience.companyName" class="form-control p-2 " placeholder="Company">
                          </td>
                          <td>
                              <input type="date" [(ngModel)]="experience.startDate" class="form-control p-2" placeholder="Start Date">
                          </td>
                          <td>
                              <input type="date" [(ngModel)]="experience.endDate" class="form-control p-2" placeholder="End Date">
                          </td>
                          <td>
                              <input type="text" [(ngModel)]="experience.designation" class="form-control p-2" placeholder="Designation">
                          </td>
                          <td>
                              <input type="text" [(ngModel)]="experience.projectsWorkedOn" class="form-control p-2" placeholder="Project">
                          </td>

                          <td class=" btn-container d-flex ">
                            <button class="btn btn-sm btn-success py-1 px-3 me-1"><i class="fa fa-save fa-sm"></i> </button>

                            <button class="btn btn-sm btn-danger py-1 px-3"><i class="fa fa-trash fa-sm "> </i> </button>
                          </td>
                      </tr>
                  </tbody>
              </table>

          </div>
          <div class="row justify-content-end my-3">
            <button class="btn btn-primary col-2" (click)="saveEmployee()" >Apply now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- progress-wrapper -->
</div>
